{% extends "base.html" %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 15px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 {
            background-color: #8A0651;
            /* Green */
            color: #ffffff;
        }

        .bg-2 {
            background-color: #474e5d;
            /* Dark Blue */
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff;
            /* White */
            color: #555555;
        }

        .bg-4 {
            background-color: #2f2f2f;
            /* Black Gray */
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }

        .list-group-item {
            background-color: #8A0651;
            /* Green */
            color: #ffffff;
        }
    </style>
</head>

<body>


    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">November 7th 2018</h3>
        <div class="col-lg-3">
            <h3>Coaches</h3>
            <ul class="list-group">
                <li class="list-group-item">Kevin</li>
                <li class="list-group-item">Claudine</li>
                <li class="list-group-item">Mick</li>
                <li class="list-group-item">Paulo</li>
                <li class="list-group-item">Dermot</li>
                <li class="list-group-item">Steve</li>
                <li class="list-group-item">Eri</li>
                <li class="list-group-item">Sarah</li>
                <li class="list-group-item">Aoife</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h3>Training Notes</h3>
            <ul class="list-group">
                <li class="list-group-item"> Paulo / Sarah - Generic Warmups </li>
                <li class="list-group-item"> Dermo / Stevo - Bib the kids <br>

                    1. Older <br>
                    2. Middle <br>
                    3. Younger <br>
                </li>
                <li class="list-group-item">All the excercises are appropriate for all three groups and they will do
                    each excercise <b>twice</b> for 7 mins each</li>
                <li class="list-group-item">We will be focused on getting the mechanics and technique for striking from
                    the hand nailed for the foreseeable future for group 1/2/3 </li>
                <li class="list-group-item"> As part or this process we are going to have some level of repetition. No
                    pain no gain :) </li>
                <li class="list-group-item">

                    The following key concepts should be clear and corrected by all mentors and are common criteria for
                    all steps of the process of teaching the kids how to strike the ball effectively.<br> <br>

                    Key Concept 1: Legs apart and no foot movement when learning this skill.<br>
                    Key Concept 2: Eyes on the ball !!!!! <br>
                    Key Concept 2: Hold the hurley like a sword and no shortened grips !!!<br>

                </li>

                <li class="list-group-item"> We are going to be following the steps laid out in <a href="https://www.youtube.com/watch?v=H2tGTGv6jFM">this</a>
                    video as all the major steps are covered. Watch it a few times as it nails exactly where we need to get to.
                </li>
                <li class="list-group-item">Steps: <br>

                    Step 1: The Height of the Ball. <br>
                    Step 2: The position of the catching hand on the hurley. <br>
                    Step 3: The Strike of the Ball. <br>

                </li>
                <li class="list-group-item">Excercise 1: Shane / Stevo / Sarah / Aoife - Striking with Balls on sticks.</li>
                <li class="list-group-item">Excercise 2: Paulo / Claudine / Dermot Throw and catch and tennis strike one
                    handed against the fence.</li>
                <li class="list-group-item">Excercise 3: Kevin / Mick / Eri Hand position oafter throwming ball</li>
                <li class="list-group-item">Workshop 1: Kevin - Two players at a time focus on striking from the hand (Depending on resources).</li>
            </ul>
        </div>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Excercise 1 Objectives</h3>
                <p>Striking the ball at the correct height between the knee and Hip. Following the key concepts above</p>

                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        Total Time.
                        <span class="badge badge-default badge-pill">7</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Hold the ball on a stick at knee height and ask the players to strike it hard. No foot movement
                        allowed, follow through on the strike, hit the ball between players knee and hip height.
                    </li>
                    <li class="list-group-item justify-content-between">
                        <img src="/static/img/strike_knee.png" class="img-thumbnail" alt="Cinque Terre" width="500"
                            height="350">
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>Excercise 2 Objectives</h3>
                <p>2a: Throw the ball up and catch it 15 times. <br>
                    2b: Throw it up and strike it with one hand against the fence in the style of a tennis forehand 10
                    times <br>
                    Repeat those two steps 3 times.
                </p>

                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        2a: Each player standing at the cones facing out to the mentors.
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Throw it up and catch it, eye height and keeping eyes on the ball at all time.
                        <span class="badge badge-default badge-pill"></span>
                    <li class="list-group-item justify-content-between">
                        <img src="/static/img/hold_hurley_like_a_sword.png" class="img-thumbnail" alt="Cinque Terre"
                            width="500" height="350">
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    </li>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        2b: Each player standing at the cones facing towards the outside net.
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Using a one handed strike similair to a tennis forehand and paying attention to the key concept
                        listed above strike the ball towards the
                        nets with a handed strike as per the below diagram.
                        <span class="badge badge-default badge-pill"></span>
                    <li class="list-group-item justify-content-between">
                        <img src="/static/img/one_handed_strike_from_hand.png" class="img-thumbnail" alt="Cinque Terre"
                            width="500" height="350">
                    </li>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>Excercise 3 Hand on the Hurley</h3>
                <p>Asking the players to throw the ball in the air while holding the hurley like a sword and placing the secondary hand on the hurl as per the below diagram</p>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        3a Total Time.
                        <span class="badge badge-default badge-pill">7</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        <img src="/static/img/catching_hand.png" class="img-thumbnail" alt="Cinque Terre" width="500"
                            height="350">
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                            They should not strike the ball and only be focused on keeping their eyes on the ball and moving their secondary hand to the hurley.
                            <span class="badge badge-default badge-pill"></span>
                        </li>
                </ul>
            </div>

            <!-- Second Container -->
            <div class="container-fluid bg-2 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h3> Workshop 1 Objectives </h3>
                        <p> Striking from the hand.</p>

                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                Focused demonstration and mentoring of striking the ball from the hand.
                                <span class="badge badge-default badge-pill"></span>
                            </li>
                        </ul>
                    </div>



</body>

</html>


{% endblock %}