{% extends "base.html" %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 15px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 {
            background-color: #8A0651;
            /* Green */
            color: #ffffff;
        }

        .bg-2 {
            background-color: #474e5d;
            /* Dark Blue */
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff;
            /* White */
            color: #555555;
        }

        .bg-4 {
            background-color: #2f2f2f;
            /* Black Gray */
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }

        .list-group-item {
            background-color: #8A0651;
            /* Green */
            color: #ffffff;
        }
    </style>
</head>

<body>


    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">October 1  2018</h3>
        <div class="col-lg-3">
            <h3>Coaches</h3>
            <ul class="list-group">
                <li class="list-group-item">Kevin</li>
                <li class="list-group-item">Claudine</li>
                <li class="list-group-item">Mick</li>
                <li class="list-group-item">Paulo</li>
                <li class="list-group-item">Dermot</li>
                <li class="list-group-item">Steve</li>
                <li class="list-group-item">Nicola</li>
                <li class="list-group-item">Aoife</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h3>Training Notes</h3>
            <ul class="list-group">
                <li class="list-group-item">Excercise 1: Paulo / Nicola - Match with poles or goals 5 a side</li>
                <li class="list-group-item">Excercise 2: Aoife / Claudine - Rising the ball and related actions.</li>
                <li class="list-group-item">Excercise 3: Dermot / Steve - Drills for Swing</li>
                <li class="list-group-item">Workshop 1: Kevin - Two players at a time focus on striking from the hand</li>
            </ul>
        </div>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Excercise 1 Objectives</h3>
                <p>Match Position and tactical awareness.</p>

                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        Total Time.
                        <span class="badge badge-default badge-pill">14</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Positions during puckouts (defending).
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Not bunching together.
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Dribbling the ball into space and striking over the shoulder or rising.
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>Excercise 2 Objectives</h3>
                <p>Renforce that after rising the ball they have options and other rising workouts.</p>

                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        2a: Total Time.
                        <span class="badge badge-default badge-pill">7</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Two squares like the diagram below and practise rising the ball.
                        <span class="badge badge-default badge-pill"></span>
                    <li class="list-group-item justify-content-between">
                        <img src="/static/img/rise_square.png" class="img-thumbnail" alt="Cinque Terre" width="304"
                            height="236">
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    </li>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        2b: Total Time.
                        <span class="badge badge-default badge-pill">7</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        3 lines of kids behind three lines of slioathers.
                        <span class="badge badge-default badge-pill"></span>
                    </li>    
                    <li class="list-group-item justify-content-between">
                        Kids rise the slioather and then are encouraged to run past the mentor with ball in hand 
                        having ran 4 steps, bounced the ball on hurl and then hand passed the ball or striking from hand.
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>Excercise 3 Objectives</h3>
                <p>Pairs striking for accuracy to each other through 2 cones and battling for the ball at cones.</p>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        3a Total Time.
                        <span class="badge badge-default badge-pill">7</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Eyes on ball ‘til strike completed.
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Follow through to shoulder height.
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        <img src="/static/img/two-cones.png" class="img-thumbnail" alt="Cinque Terre" width="304"
                            height="236">
                        <span class="badge badge-default badge-pill"></span>
                    </li>
                </ul>
            </div>


            <div class="col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item justify-content-between">
                            3b Total Time.
                            <span class="badge badge-default badge-pill">7</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Using the same cone layout and player position as 3a and the diagram below have the kids run to the ball positioned 
                            in the between the cones and fight for the ball bringing it back to their starting position.
                            <span class="badge badge-default badge-pill"></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <img src="/static/img/two-cones.png" class="img-thumbnail" alt="Cinque Terre" width="304"
                                height="236">
                            <span class="badge badge-default badge-pill"></span>
                        </li>
                    </ul>
                </div>






            <!-- Second Container -->
            <div class="container-fluid bg-2 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h3> Workshop 1 Objectives </h3>
                        <p> Striking from the hand.</p>

                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                Total Time (per pair of players).
                                <span class="badge badge-default badge-pill">10</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                Focused demonstration and mentoring of striking the ball from the hand.
                                <span class="badge badge-default badge-pill"></span>
                            </li>
                        </ul>
                    </div>



</body>

</html>


{% endblock %}